{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">
{{ end }}

{{/* {{ if .Params.image }}
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}
{{ else }}
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
{{ end }}

{{- if .Description }}
<meta name="description" content="{{ .Description }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="twitter:description" content="{{ .Description }}" />
{{- else if .Summary }}
<meta name="description" content="{{ .Summary }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="twitter:description" content="{{ .Summary }}" />
{{- else if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}" />
<meta property="og:d{{- if .Description }}
<meta name=" description" content="{{ .Description }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="twitter:description" content="{{ .Description }}" />
{{- else if .Summary }}
<meta name="description" content="{{ .Summary }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="twitter:description" content="{{ .Summary }}" />
{{- else if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="twitter:description" content="{{ .Site.Params.description }}" />
{{- end }}description" content="{{ .Site.Params.description }}" />
<meta property="twitter:description" content="{{ .Site.Params.description }}" />
{{- end }}

{{ end}} */}}

{{ define "main" }}
<div class="container mx-auto w-full md:p-20">
    <div class="mx-3 col-span-3 lg:col-span-2 px-2">
        <div class="py-10">{{.Content}}</div>
        <div class="flex flex-wrap my-4">
            {{ range .Pages }}
            <a href="{{ .RelPermalink }}" class="flex-grow">
                <div class="p-4 md:w-1/2 lg:w-1/3">
                    <div
                        class="h-full border-2 shadow-md border-gray-200 border-opacity-60 rounded-lg overflow-hidden flex flex-col justify-center p-6">
                        <h2 class="title-font text-lg font-medium text-gray-900 mb-3">{{ .LinkTitle }}</h2>
                        <p class="leading-relaxed mb-3">{{ .Summary | truncate 200 }}</p>
                        <div class="text-center mt-2 leading-none w-full py-4">
                            <a href="{{ .RelPermalink }}" class="text-indigo-500 inline-flex items-center">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}