{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">

{{ if .Params.image }}
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}
{{ else }}
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
{{ end }}

{{- if .Description }}
<meta name="description" content="{{ .Description }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="twitter:description" content="{{ .Description }}" />
{{- else if .Summary }}
<meta name="description" content="{{ .Summary }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="twitter:description" content="{{ .Summary }}" />
{{- else if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="twitter:description" content="{{ .Site.Params.description }}" />
{{- end }}

{{ end }}



{{ define "main" }}

<div class="container prose md:prose-lg lg:prose-xl ">
    {{ if or (in .Permalink "/services/") (in .Permalink "/portfolio/") }}
    <div class="p-5 md:p-20">
        {{ with .Params.img }}
        <img src="{{ . | absURL }}" alt="{{ . }}" class="w-full h-auto" />
        {{ end }}
        {{ .Content}}
    </div>
    </div>

    {{ else }}
    {{.Content}}
    {{ end }}
    <div class="flex pb-4">
        <div class="flex-grow"></div>
    <button type="button" class="btn-primary btn mr-10 flex-col">
        <a href="javascript:history.go(-1)">Back</a>
    </button>
    </button>
    </button>
    </div>
</div>
</div>
{{ end }}