---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";

const pageTitle: string = `Contact | ${SITE.title}`;
---

<MainLayout
    title={pageTitle}
    structuredData={{
        "@context": "https://schema.org",
        "@type": "WebPage",
        "@id": "https://terracepointconsultinggroup.com/faq",
        url: "https://terracepointconsultinggroup.com/faq",
        name: "Expert Consultation Services | Terrace Point Consulting Group",
        description:
            "Uniting expertise with your vision, Terrace Point Consulting Group provides exceptional service and comprehensive solutions in the hardware and construction industry, from consultation to project completion.",
        isPartOf: {
            "@type": "WebSite",
            url: "https://terracepointconsultinggroup.com/",
            name: "Terrace Point Consulting Group",
            description:
                "Uniting expertise with your vision, Terrace Point Consulting Group provides exceptional service and comprehensive solutions in the hardware and construction industry, from consultation to project completion.",
        },
        inLanguage: "en-US",
    }}
>
    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
        <FAQ
            title="Frequently<br />asked questions"
            faqs={faqs}
            primaryBtn="Get in contact"
            primaryBtnURL="/contact"
            limit={faqs.faqs.length}
        />
    </section>
</MainLayout>
