<div class="hero min-h-maxscreen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img src="img/logo/small.svg" alt="Founder Welding" class="w-96 rounded-lg shadow-2xl" />
        <div>
            <h1 class="text-5xl font-bold">About our company</h1>
            <p class="py-6">
                At Terrace Point Consulting, we pride ourselves on delivering exceptional inspection and project
                management services
                tailored to the pipeline, structural, process piping, and civil construction industries. With over 25
                years of
                experience, our team brings a wealth of knowledge and expertise to ensure the highest standards of
                quality and safety in
                every project we undertake.
            </p>
            <a href="/about" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                Learn more
            </a>
            </button>
        </div>
    </div>
</div>