<div class="hero min-h-maxscreen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img src="/img/extra/eddie.jpg" alt="Founder Welding" class="w-96 rounded-lg shadow-2xl" />
        {{ $ss := .Site.Data.images }}
        {{ range $e := $ss}}
        {{ if $e.id == "eddie" }}
        <img src="{{ .src}}" alt="{{ .alt }}" />
        {{ end }}
        {{ end }}
        <img src="img/extra/eddie.jpeg" alt="Founder Welding" class="w-96 rounded-lg shadow-2xl" />
        <img src="{{ "img/extra/eddie.jpg" | absURL }}" alt="Founder Welding" class="w-96 rounded-lg shadow-2xl" />
        <div>
            <h1 class="text-5xl font-bold">Get to know the founder</h1>
            <p class="py-6">From rancher to project manager, get to know the man who doesn't just talk the talk but
                actually walks the walk.</p>
            <a href="/about" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                About Page
            </a>
            </button>
        </div>
    </div>
</div>