<div class="w-full relative text-2xl text-wrap p-10 mb-10">
    <h1 class="text-4xl p-10 font-semibold text-center md:text-start">At Terrace Point Consulting... </h1>
    <p>
        We provide comprehensive inspection services, including QA/QC on an as-needed basis, third-party inspections,
        and shop/project inspectors for the pipeline, structural, process piping, and civil construction industries. We
        also offer full management/consulting on pipeline integrity dig projects, including inspection during access,
        excavation, welding, backfill, and cleanup.
    </p>
    <br />
    <p>
        Terrace Point Consulting brings unparalleled expertise and experience to ensure that the scope of work meets
        project quality requirements. We provide proper documentation and offer technical support as needed, such as
        welding parameters and interpass temperature.

    </p>
</div>