<div class="w-full relative text-2xl text-wrap p-10 mb-10">
    <h1 class="text-4xl p-10 font-semibold text-center md:text-start">At Terrace Point Consulting...</h1>
    <p>
        We deliver comprehensive inspection services, including QA/QC on-demand, third-party inspections, and dedicated
        inspectors for the pipeline, structural, process piping, and civil construction industries. Additionally, we
        offer full management and consulting for pipeline integrity dig projects, ensuring thorough inspection
        throughout access, excavation, welding, backfill, and cleanup phases.
    </p>
    <br />
    <p>
        Terrace Point Consulting combines unparalleled expertise with extensive experience to guarantee that all work
        meets project quality standards. We provide detailed documentation and technical support, including guidance on
        welding parameters and interpass temperatures, to ensure project success.
    </p>
</div>