<header>
    <nav class="flex items-center justify-between flex-wrap bg-opacity-100 shadow-md">
        <div class="flex items-center flex-shrink-0 text-xl text-grey-900 mr-6">
            <a href="{{ .Site.BaseURL }}">
                <img alt="{{ .Site.Params.logo.alt }}" class="h-40 mr-3" src="{{ .Site.Params.logo.main | relURL }}">
            </a>
        </div>
        <div class="hidden w-full flex-grow lg:flex lg:items-center lg:w-auto" id="mobileMenu">
            <div class="lg:flex-grow">
            </div>
            <div class="">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL | safeURL }}"
                    class="duration-2 text-2xl block mt-4 lg:inline-block lg:mt-0 text-black hover:opacity-60 mr-8">
                    {{ .Name }}
                </a>
                {{ end }}
            </div>
        </div>
        <div class="block md:hidden mr-10">
            <div class="dropdown dropdown-left">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="inline-block w-5 h-5 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL | safeURL }}"
                            class="duration-200 block mt-4 lg:inline-block lg:mt-0 text-black hover:opacity-60 mr-8">
                            {{ .Name }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</header>